
.dashboard__options {
  margin: 0 auto;
  display: block;
}

.dashboard__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.dashboard__loading {
  width: 100px;
  margin: 20px auto 0 auto;
}

.dashboard__loading-icon {
  color: $green1;
}