.dashboard {
  width: 100%;
  height: 100vw;
  background-color: $white1;
  margin-top:58px;
}

.dashboard-menu {
  display: block;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1030;
  color: $green1;

  @include media-breakpoint-up(lg) {
    top: 75px;
  }
}