.top-nav {
  background-color: $black1;
  color: $light-gray1;
  border-bottom: 3px solid $red1;
}

.top-nav__title.navbar-brand {
  color: $light-gray1;
}

.top-nav__toggle {
  background-color: $light-gray1;
}