.top-nav {
  background-color: $white1;
  color: $gray2;
  border-bottom: 3px solid $red1;
}

.top-nav__title.navbar-brand {
  color: $gray2;
  &:hover, &:active {
    color: $blue1;
  }

  &:visited {
    color: $gray2;
  }
}

.top-nav__toggle {
  background-color: $gray2;
}

.top-nav__board-form {
  width: 100%;

  @include media-breakpoint-up(md){
    width: 250px;
  }
}

.top-nav__board-select {
  margin: 20px auto 0 auto;

  @include media-breakpoint-up(md){
    margin: 0;
  }
}

.top-nav__auth {
  float: right;
}