$light-gray1: rgba(232, 233, 235, 1);
$white1: white;
$black1: black;

$green1: rgba(11, 110, 79, 1);
$red1: rgba(239, 100, 97, 1);
$yellow1: rgba(228, 179, 99, 1);




////Override bootstrap variables
$brand-primary: $green1;