$light-gray1: rgba(232, 233, 235, 1);
$white1: white;
$black1: black;

$green1: rgba(11, 110, 79, 1);
//$red1: rgba(239, 100, 97, 1);
//$yellow1: rgba(228, 179, 99, 1);

$red1: #F19F4D;
$blue1: #4484CE;
//$blue2: darken($blue1, 25%);
$blue3: #344D68;
$gray1: lighten(#D9D9D9, 10%);
$gray2: #A9A9A9;
$yellow1: #F9CF00;

//$red1: #FF383F;
//$blue1: #CAEBF2;
//$blue2: darken($blue1, 25%);
//$blue3: #344D68;
//$gray1: #EFEFEF;
//$gray2: #A9A9A9;

//344D68
//
//404E8B
//40496C
//4344B8
////Override bootstrap variables
$brand-primary: $blue1;