<div class="dashboard container">
  <dashboard-options class="dashboard__options"></dashboard-options>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <vertical-nav></vertical-nav>
      </div>
      <div class="dashboard__view col-md-11">
        <div class="dashboard__overlay" [hidden]="!loading">
          <div class="dashboard__loading">
            <loading></loading>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>