<div class="dashboard container">
  <dashboard-options class="dashboard__options"></dashboard-options>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <vertical-nav></vertical-nav>
      </div>
      <div class="col">
        <div class="dashboard__overlay" [hidden]="!loading">
          <div class="dashboard__loading">
            <i class="fa fa-circle-o-notch fa-5x fa-spin fa-fw dashboard__loading-icon"></i>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>