<div class="vertical-nav container">
  <div class="row">
    <div class="col-4 col-md-4 col-lg-12 vertical-nav__item">
      <a class="nav-link vertical-nav__link" href="#">
        <i class="fa fa-line-chart vertical-nav__icon" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-4 col-md-4 col-lg-12 vertical-nav__item">
      <a class="nav-link vertical-nav__link" href="#">
        <i class="fa fa-dollar vertical-nav__icon" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-4 col-md-4 col-lg-12 vertical-nav__item">
      <a class="nav-link vertical-nav__link" href="#">
        <i class="fa fa-clock-o vertical-nav__icon" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>